<h1 style="color:Blue">Python Basics</h1>

What are compilers and interpreters?

<br>

<img src="Images/InterCompiler.png" >

<br>

<b>Python is interpreted language </b>

<h2 style="color:DodgerBlue"> Memory management in Python </h2>

<br>
Everything is object in Python. <br>
The variables in python are dynamically typed.

<br>
<img src="Images/MM.png" >
<br>

In [1]:
x = 10
print(hex(id(x)))

0x7ffdb105a2b0

In [2]:
y = 10
print(hex(id(y)))

0x7ffdb105a2b0

Python optimizes memory by refering to the same object

In [3]:
x = 12
print(hex(id(x)))

0x7ffdb105a2f0

Python keeps track of number of references to the object, when the count is 0 the garbage collection program is called which cleans the menory

In [12]:
import weakref

class Emp:
    
    def __init__(self, x):
        self.name = x
        
Emp1 = Emp("Abhi")
print("Location of a:", hex(id(a)))

weak = weakref.ref(Emp1)
print("Before:", (weak))

Location of a: 0x7ffdb105a2b0
Before: <weakref at 0x00000156D0D89DB8; to 'Emp' at 0x00000156D0D8F108>

In [13]:
Emp1 = None
print("After:", (weak))

After: <weakref at 0x00000156D0D89DB8; dead>

<h1 style="color:Tomato"> Basic data types </h1>

Objects in Python are either mutable or immutable

Mutable object can be changed after it is created and immutable objects cannot be changed.


<br>
<l>
    <li>Objects of built-in types like (int, float, bool, str, tuple, unicode) are immutable. 
    <li>Objects of built-in types like (list, set, dict) are mutable. 
    <li>Custom classes are generally mutable.
</l>

<h2 style="color:DodgerBlue"> Booleans </h2>

In [23]:
a = 10
b = 10

print(a == b)

True

In [24]:
a = 10

if a < 5:
    print("a is less than 5")
else:
    print("a is greater than 5")

a is greater than 5

<img src="Images/Compare.png" >

<h2 style="color:DodgerBlue"> Intergers & floats </h2>

In [21]:
a = 10
print(type(a))

<class 'int'>
<class 'int'>

In [19]:
b = 10.2
print(type(b))

b = -10.2
print(type(b))

<class 'float'>
<class 'float'>

<b> Basic operations: </b>

In [42]:
a = 10
b = 2
c = -1.22

print(a + b) #Addition
print(a - b) #Subtraction
print(a / b) #Division
print(a * b) #Multiplication
print(a // b) #Floored division
print(a % b) #Remainder
print(pow(a,b)) #Power
print(a ** b) #Power
print(abs(c)) #Absolute
print(int(c))
print(float(a))

12
8
5.0
20
5
0
100
100
1.22
-1
10.0

In [47]:
import math

a = 2.5

print(math.floor(a))
print(math.ceil(a))

print(a.is_integer())

2
3
False

<h2 style="color:DodgerBlue"> Lists </h2>

In [60]:
a = [1,2,3]
hex(id(a))

'0x156d34ab348'

In [61]:
b = a
hex(id(b))

'0x156d34ab348'

In [62]:
a.pop()
print(a)
hex(id(a))

[1, 2]

'0x156d34ab348'

In [63]:
hex(id(b))

'0x156d34ab348'

In [64]:
a[0] = 0

In [66]:
print(a)
print(hex(id(a)))

[0, 2]
0x156d34ab348

##### Adding and removing elements

In [67]:
a_list = [2, 3, 7, None, "Hello"]
print(a_list)

[2, 3, 7, None, 'Hello']

In [68]:
# End of the list
a_list.append('dwarf')
a_list

[2, 3, 7, None, 'Hello', 'dwarf']

In [69]:
# Specify the position
a_list.insert(1, 'red')
a_list

[2, 'red', 3, 7, None, 'Hello', 'dwarf']

In [70]:
# Removes the last element by default index can also be specified
a_list.pop()
a_list

[2, 'red', 3, 7, None, 'Hello']

In [71]:
# Removes the element but index needs to be specified
a_list.remove(2)
a_list

['red', 3, 7, None, 'Hello']

In [72]:
"Hello" in a_list

True

##### Concatenating and combining lists

In [73]:
a = [4, None, 'foo']
b =  [7, 8, (2, 3)]
c = a + b
print(c)

[4, None, 'foo', 7, 8, (2, 3)]

In [74]:
# Lists are mutable the address of list does not changes even after adding new elemets
x = [4, None, 'foo']
print(id(x))
x.extend([7, 8, (2, 3)])
print(x)
print(id(x))

1472416905864
[4, None, 'foo', 7, 8, (2, 3)]
1472416905864

##### Sorting

In [75]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [76]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort() # Sorting on the basis of ASCII value
print(b)

['He', 'foxes', 'saw', 'six', 'small']

In [77]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) # Sorting on the basis of len of the string
print(b)

['He', 'saw', 'six', 'small', 'foxes']

##### Slicing

In [78]:
# Indexing starts from 0
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [79]:
print(seq)
print(seq[3:4])
seq[3:4] = [9, 9]
print(seq)

[7, 2, 3, 7, 5, 6, 0, 1]
[7]
[7, 2, 3, 9, 9, 5, 6, 0, 1]

In [80]:
print([i for i in range(len(seq))])
print(seq)
print(seq[:5]) # From starting of the list
print(seq[3:]) # Till the end of the list

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[7, 2, 3, 9, 9, 5, 6, 0, 1]
[7, 2, 3, 9, 9]
[9, 9, 5, 6, 0, 1]

In [81]:
print([i for i in range(-9,0)])
print(seq)
print(seq[-4:]) # From end of the list
print(seq[-6:-2])

[-9, -8, -7, -6, -5, -4, -3, -2, -1]
[7, 2, 3, 9, 9, 5, 6, 0, 1]
[5, 6, 0, 1]
[9, 9, 5, 6]

In [63]:
print(seq)
seq[::2] # Intervals of 2

[7, 2, 3, 9, 9, 5, 6, 0, 1]

[7, 3, 9, 6, 1]

In [82]:
print(list(reversed(seq)))
print(seq[::-1]) # Print in reverse manner

[1, 0, 6, 5, 9, 9, 3, 2, 7]
[1, 0, 6, 5, 9, 9, 3, 2, 7]

##### List comprehension

In [69]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[i for i in strings]

['a', 'as', 'bat', 'car', 'dove', 'python']

In [70]:
[i for i in strings if len(i)>2]

['bat', 'car', 'dove', 'python']

In [169]:
seq_n = [23, 15, 88 ,99, 154, 65, 75, 88, 84, 75, 81, 35, 26, 89, 76, 48, 81, 784]

import numpy as np

seq_n = np.random.randint(100, 300, 100000)

In [172]:
import time

s = time.time()
x = [i*i for i in seq_n]
se = time.time()
(se - s) * 1000

20.946025848388672

In [173]:
s = time.time()
for i in seq_n:
    x = (i*i)
se = time.time()
(se - s) * 1000

28.92327308654785

List comprehensions are faster than normal for loops

In [130]:
data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [131]:
# Using for loops

s = time.time()
print(s)
for names in data:
    print(names)
    for name in names:
        if name.startswith('M'):
            print(name.upper())
print(time.time())
time.time() - s

1576331745.6530626
['John', 'Emily', 'Michael', 'Mary', 'Steven']
MICHAEL
MARY
['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']
MARIA
1576331745.6540604

0.000997781753540039

In [132]:
# Using list comprehension

s = time.time()

[name.upper() for names in data for name in names if name.startswith('M')]

time.time() - s

0.0

##### Sorting

In [133]:
print(seq)
print(sorted(seq))

[7, 2, 3, 9, 9, 5, 6, 0, 1]
[0, 1, 2, 3, 5, 6, 7, 9, 9]

##### Zip

In [134]:
seq1 = ('foo', 'bar', 'baz')
seq2 = ['one', 'two', 'three']
seq3 = [1, 2, 3]
zipped = zip(seq1, seq2, seq3)
print(list(zipped))

[('foo', 'one', 1), ('bar', 'two', 2), ('baz', 'three', 3)]

##### Sets

In [135]:
l1 = [1, 4, 5, 4, 1, 2, 3]
print(l1)

set_l1 = set(l1)
print(set_l1)

[1, 4, 5, 4, 1, 2, 3]
{1, 2, 3, 4, 5}

<h2 style="color:DodgerBlue"> Tuple </h2>

In [136]:
# Default tuples

t1 = 1, 2, 3, 4, 2
print(t1)
print(type(t1))

(1, 2, 3, 4, 2)
<class 'tuple'>

In [137]:
# Using tuple function

s = 'Hello World'
t2 = tuple(s)
print(t2)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [138]:
t3 = ('Hello', 'Hi', 2, 3, [1, 2, 3])
t3

('Hello', 'Hi', 2, 3, [1, 2, 3])

In [139]:
# Accessing elements of tuple

print(t3[2])
print(t3[2:4])

2
(2, 3)

In [140]:
# Cannot modify elements of tuple

print(t3[0])
t3[0] = "Hello World"

Hello

TypeError: 'tuple' object does not support item assignment

In [26]:
# Can modify mutable elements of tuple

print("t3:", id(t3), "  ", "List in t3:", id(t3[-1]))
print(t3[-1])
print(t3[4][1])
t3[4][1] = 3
print("t3:", id(t3), "  ", "List in t3:", id(t3[-1]))
print(t3[-1])

t3: 140322488187544    List in t3: 140322268751752
[1, 3, 3]
3
t3: 140322488187544    List in t3: 140322268751752
[1, 3, 3]

In [32]:
# Add elements to tuple

print(t3)
print(id(t3))

t3 = t3 + (1, 3)
print(t3)
print(id(t3))  # It is stored at a new location

('Hello', 'Hi', 2, 3, [1, 3, 3], 1, 3)
140322488209792
('Hello', 'Hi', 2, 3, [1, 3, 3], 1, 3, 1, 3)
140322268298840

<h2 style="color:DodgerBlue"> Dictionary </h2>

In [33]:
# Creating dict with {} 

empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]} # Data is stored as key value pair
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [34]:
# Add elements in dict

d1['c'] = "new element"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'new element'}

In [35]:
# Careful while adding elements in dict

d1['a'] = 'added something new'
d1                                  # Overwrites the value of key 'a'

{'a': 'added something new', 'b': [1, 2, 3, 4], 'c': 'new element'}

In [36]:
# Get keys and values of a dict

print(list(d1.keys()))
print(list(d1.values()))

['a', 'b', 'c']
['added something new', [1, 2, 3, 4], 'new element']

In [37]:
# Checking keys in dict

print('a' in d1)              # Using in it only checks keys
print('new element' in d1)    # Won't check values

True
False

In [42]:
# Enumerate list

some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[i] = v
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [47]:
# Label encoding using dict

labels = {"Engg": 1, "Doc": 2, "Stats": 3}

s = ["Engg", "Doc", "Doc", "Stats"]
s_new = []
for i in s:
    s_new.append(labels[i])
    
s_new

[1, 2, 2, 3]

<h2 style="color:DodgerBlue"> Sets </h2>

In [48]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [49]:
a.union(b) # Or a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
a.intersection(b) # Or a & b

{3, 4, 5}

In [52]:
s = {1, 2, 4}
s.issubset(a)

True

In [56]:
{1, 2, 3, 4, 5} == {1, 2, 3, 4, 5}

True

In [57]:
{1, 2, 3, 4, 5} == {1, 2, 3, 5}

False

In [153]:
a[0] = 10
a

[10, 2, 3, 5, 7]

In [154]:
a[2] = 10
a

[10, 2, 10, 5, 7]

In [156]:
fs = frozenset(a)
fs

frozenset({2, 5, 7, 10})

<h2 style="color:DodgerBlue"> Functions </h2>

In [141]:
# Simple function

def add_hello(x):
    return "Hello " + x

In [142]:
# Calling the function

add_hello('Abhi')

'Hello Abhi'

In [145]:
# A little complex function

states = ['   Andheri ', 'Borivali!', 'Andheri', 'borivali', 'GOreGaun',
          'south mumbai##', 'Andheri west?']

import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()                   # Remove spaces from before and after a string
        value = re.sub('[!#?]', '', value)      # Replace special chars from string
        value = value.title()                   # Convert all the strings to title format (PROPCASE in SAS)
        result.append(value)
    return result

In [146]:
clean_strings(states)

['Andheri',
 'Borivali',
 'Andheri',
 'Borivali',
 'Goregaun',
 'South Mumbai',
 'Andheri West']

<h2 style="color:DodgerBlue"> Lambda Functions </h2>

In [25]:
# Useful for writing single line functions
# lambda argument(s): expression

# Function to combine 1st and last name

fname_lname = lambda fn, ln: fn.strip().title() + " " + ln.strip().title()

In [29]:
fn = input("Enter your fname: ")

Enter your fname:     abhishek

In [30]:
ln = input("Enter your lname:")

Enter your lname: sawant

In [31]:
fname_lname(fn, ln)

'Abhishek Sawant'

In [34]:
import pandas as pd

d = {'a': [2,3,4,1,4], 'b': [12,34,23,78,90]}
df = pd.DataFrame(d)
df

   a   b
0  2  12
1  3  34
2  4  23
3  1  78
4  4  90

In [37]:
df.apply(lambda x: sum(x))  # It will pass column a and b as input to the lambda functions

a     14
b    237
dtype: int64

<h2 style="color:DodgerBlue">Reading files and OS commands</h2>

In [147]:
import os

os.getcwd()

'A:\\Data_Science\\AI & ML training\\Lec 1'

In [ ]:
os.chdir('Path of new dir')

In [148]:
# Reading a file

with open('shakespeare.txt') as f:     # Don't need to worry about closing the file
    print(f.read())

This is the 100th Etext file presented by Project Gutenberg, and
is presented in cooperation with World Library, Inc., from their
Library of the Future and Shakespeare CDROMS.  Project Gutenberg
often releases Etexts that are NOT placed in the Public Domain!!

Shakespeare

1609

THE SONNETS

by William Shakespeare



                     1
  From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But as the riper should by time decease,
  His tender heir might bear his memory:
  But thou contracted to thine own bright eyes,
  Feed'st thy light's flame with self-substantial fuel,
  Making a famine where abundance lies,
  Thy self thy foe, to thy sweet self too cruel:
  Thou that art now the world's fresh ornament,
  And only herald to the gaudy spring,
  Within thine own bud buriest thy content,
  And tender churl mak'st waste in niggarding:
    Pity the world, or else this glutton be,
    To eat the world's due, by the grave and thee.


                     2
  When forty winters shall besiege thy brow,
  And dig deep trenches in thy beauty's field,
  Thy youth's proud livery so gazed on now,
  Will be a tattered weed of small worth held:
  Then being asked, where all thy beauty lies,
  Where all the treasure of thy lusty days;
  To say within thine own deep sunken eyes,
  Were an all-eating shame, and thriftless praise.
  How much more praise deserved thy beauty's use,
  If thou couldst answer 'This fair child of mine
  Shall sum my count, and make my old excuse'
  Proving his beauty by succession thine.
    This were to be new made when thou art old,
    And see thy blood warm when thou feel'st it cold.


                     3
  Look in thy glass and tell the face thou viewest,
  Now is the time that face should form another,
  Whose fresh repair if now thou not renewest,
  Thou dost beguile the world, unbless some mother.
  For where is she so fair whose uneared womb
  Disdains the tillage of thy husbandry?
  Or who is he so fond will be the tomb,
  Of his self-love to stop posterity?
  Thou art thy mother's glass and she in thee
  Calls back the lovely April of her prime,
  So thou through windows of thine age shalt see,
  Despite of wrinkles this thy golden time.
    But if thou live remembered not to be,
    Die single and thine image dies with thee.


                     4
  Unthrifty loveliness why dost thou spend,
  Upon thy self thy beauty's legacy?
  Nature's bequest gives nothing but doth lend,
  And being frank she lends to those are free:
  Then beauteous niggard why dost thou abuse,
  The bounteous largess given thee to give?
  Profitless usurer why dost thou use
  So great a sum of sums yet canst not live?
  For having traffic with thy self alone,
  Thou of thy self thy sweet self dost deceive,
  Then how when nature calls thee to be gone,
  What acceptable audit canst thou leave?
    Thy unused beauty must be tombed with thee,
    Which used lives th' executor to be.

In [55]:
with open('shakespeare.txt') as f:
    print(f.readlines())

['This is the 100th Etext file presented by Project Gutenberg, and\n', 'is presented in cooperation with World Library, Inc., from their\n', 'Library of the Future and Shakespeare CDROMS.  Project Gutenberg\n', 'often releases Etexts that are NOT placed in the Public Domain!!\n', '\n', 'Shakespeare\n', '\n', '1609\n', '\n', 'THE SONNETS\n', '\n', 'by William Shakespeare\n', '\n', '\n', '\n', '                     1\n', '  From fairest creatures we desire increase,\n', "  That thereby beauty's rose might never die,\n", '  But as the riper should by time decease,\n', '  His tender heir might bear his memory:\n', '  But thou contracted to thine own bright eyes,\n', "  Feed'st thy light's flame with self-substantial fuel,\n", '  Making a famine where abundance lies,\n', '  Thy self thy foe, to thy sweet self too cruel:\n', "  Thou that art now the world's fresh ornament,\n", '  And only herald to the gaudy spring,\n', '  Within thine own bud buriest thy content,\n', "  And tender churl mak'st waste in niggarding:\n", '    Pity the world, or else this glutton be,\n', "    To eat the world's due, by the grave and thee.\n", '\n', '\n', '                     2\n', '  When forty winters shall besiege thy brow,\n', "  And dig deep trenches in thy beauty's field,\n", "  Thy youth's proud livery so gazed on now,\n", '  Will be a tattered weed of small worth held:  \n', '  Then being asked, where all thy beauty lies,\n', '  Where all the treasure of thy lusty days;\n', '  To say within thine own deep sunken eyes,\n', '  Were an all-eating shame, and thriftless praise.\n', "  How much more praise deserved thy beauty's use,\n", "  If thou couldst answer 'This fair child of mine\n", "  Shall sum my count, and make my old excuse'\n", '  Proving his beauty by succession thine.\n', '    This were to be new made when thou art old,\n', "    And see thy blood warm when thou feel'st it cold.\n", '\n', '\n', '                     3\n', '  Look in thy glass and tell the face thou viewest,\n', '  Now is the time that face should form another,\n', '  Whose fresh repair if now thou not renewest,\n', '  Thou dost beguile the world, unbless some mother.\n', '  For where is she so fair whose uneared womb\n', '  Disdains the tillage of thy husbandry?\n', '  Or who is he so fond will be the tomb,\n', '  Of his self-love to stop posterity?  \n', "  Thou art thy mother's glass and she in thee\n", '  Calls back the lovely April of her prime,\n', '  So thou through windows of thine age shalt see,\n', '  Despite of wrinkles this thy golden time.\n', '    But if thou live remembered not to be,\n', '    Die single and thine image dies with thee.\n', '\n', '\n', '                     4\n', '  Unthrifty loveliness why dost thou spend,\n', "  Upon thy self thy beauty's legacy?\n", "  Nature's bequest gives nothing but doth lend,\n", '  And being frank she lends to those are free:\n', '  Then beauteous niggard why dost thou abuse,\n', '  The bounteous largess given thee to give?\n', '  Profitless usurer why dost thou use\n', '  So great a sum of sums yet canst not live?\n', '  For having traffic with thy self alone,\n', '  Thou of thy self thy sweet self dost deceive,\n', '  Then how when nature calls thee to be gone,\n', '  What acceptable audit canst thou leave?  \n', '    Thy unused beauty must be tombed with thee,\n', "    Which used lives th' executor to be.\n", '\n']

In [150]:
with open('shakespeare.txt') as f:
    print(f.readline())

This is the 100th Etext file presented by Project Gutenberg, and

<h2 style="color:DodgerBlue">Pickling</h2>

In [2]:
import pickle

In [3]:
cities = {'Mumbai':1, "Pune":2, "Banglore":3, "Delhi":4}
cities

{'Mumbai': 1, 'Pune': 2, 'Banglore': 3, 'Delhi': 4}

In [10]:
cities.pop("Delhi")
cities

{'Mumbai': 1, 'Pune': 2, 'Banglore': 3}

In [11]:
outfile = open("cities.pkl",'wb')

In [12]:
pickle.dump(cities,outfile)
outfile.close()

In [13]:
infile = open("cities.pkl",'rb')
new_cities = pickle.load(infile)
infile.close()

In [14]:
new_cities

{'Mumbai': 1, 'Pune': 2, 'Banglore': 3}